// _carousel.scss

#carousel {
	position: relative;
	height: 763px;
	.item img {
		display: block;
		width: 100%;
		height: auto;
	}
	.carousel-buttons {
		margin-top: 242px;
	}
	.owl-dots {
		position: relative;
		bottom: 62px;
	}
	.owl-dot span {
		border-radius: 0;
		margin: 0 0.75rem;
		height: 12px;
		width: 12px;
		background: $flyers-white;
		&:hover {
			background: $flyers-yellow;
		}
	}
	.owl-dot.active span {
		background: $flyers-yellow;
	}
}
