// _carousel.scss

.carousel {
	position: relative;
	article {
		width: 960px;
		height: 763px;
		img {
			// width: 100%;
		}
	}
	.carousel-buttons {
		position: absolute;
		bottom: 3px;
		left: 443px;
		width: 96px;
		margin: 0;
		a {
			display: block;
			float: left;
			width: 12px;
			height: 12px;
			margin-right: 20px;
			background: $flyers-white;
		}
		.active {
			background: $flyers-yellow;
		}
	}
}
