// UNMANNED FLYERS : _login.scss

.login {
  font-weight: 300;
  padding: 10px 0;
  position: relative;
  @include clearfix;
  .arrow-right {
      float: left;
      padding-right: 1em;
      margin-top: 10px;
      width: 0;
      height: 0;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 22px solid $flyers-white;
  }
  p {
    float: left;
    text-transform: uppercase;
    margin: 0;
    padding-top: 4px;
    span {
      padding-top: 8px;
      text-transform: initial;
      display: block;
      font-size: 1.5em;
      line-height: 1;
      font-weight: bold;
    }
  }
  button {
    position: absolute;
    top: 30px;
    right: -178px;
    width: 90px;
    height: 30px;
    background: $flyers-blue;
    border: 0;
    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

    span {
      text-transform: uppercase;
    }
  }
}
