// UNMANNED FLYERS : _page-logo.scss

.page-logo {
  float: left;
  font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 13px 13px;
  padding-right: 60 / 14 * 1rem;
  .logo-break {
    display: block;
  }
  .logo-red {
    color: $flyers-red;
    font-style: italic;
  }
  a {
    color: $flyers-white;
  }
}
