// UNMANNED FLYERS : _page-header.scss

.page-header {
  background: $flyers-black;
  color: $flyers-white;
  .row:last-of-type {
    border-top: 1px solid $flyers-white;
  }
  .logo-image {
    padding-top: 15px;
  }
}
