// UNMANNED FLYERS : _sub-page-header.scss

.sub-page-header {
  padding-top: 44px;
  border-bottom: 1px solid $flyers-black;
  width: 100%;
  @include clearfix;
  h1 {
    float: left;
    font-size: 2.3rem;
    color: $flyers-blue;
    padding-left: 13px;
  }
  ul {
    float: right;
    padding-top: 25px;
    margin: 0;
    li {
      float: left;
      padding-right: 2px;
    }
    a {
      color: $flyers-blue;
      &:hover {
        color: $flyers-red;
      }
    }
    li:last-of-type a {
      color: $flyers-red;
    }
  }
}
