// UNMANNED FLYERS : _sub-page-header.scss

.sub-page-header {
  border-bottom: 1px solid $flyers-black;
  width: 774px;
  margin: 0 0 45px 13px;
  padding-top: 45px;
  @include clearfix;
  h1 {
    float: left;
    font-size: 2.3rem;
    color: $flyers-blue;
    line-height: 1;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 400;
  }
  ul {
    float: right;
    padding: 13px 0 0 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    li {
      float: left;
      padding-right: 2px;
    }
    a {
      color: $flyers-blue;
      &:hover {
        color: $flyers-red;
      }
    }
    li:last-of-type a {
      color: $flyers-red;
    }
  }
}
