// UNMANNED FLYERS : _sub-page.scss

.sub-page {
  padding-bottom: 80px;
  font-size: 1.14rem;
  font-weight: 300;
  line-height: 1.6;
  @include clearfix;
  article {
    background: $white;
  }
  p {
    margin: 0;
    margin-bottom: 1em;
  }
  h2 {
    margin: 0;
    padding-top: 34px;
    font-size: 1.4rem;
    color: $flyers-blue;
    font-weight: 400;
  }
  h3 {
    margin-bottom: 1rem;
    color: $flyers-black;
  }
  .yellow-dots {
    position: relative;
    li {
      margin-bottom: 1rem;
      &:before {
        position: absolute;
        content: "\25a0";
        color: $flyers-yellow;
        left: -1.25em;
      }
    }
  }
  a {
    color: $flyers-yellow;
    &:hover {
      text-decoration: underline;
    }
  }
  .video {
    padding-top: 1em;
    figure {
      margin: 0;
      font-size: 0.85em;
      line-height: 1.4;
    }
  }
  .image-strip {
    height: 1250px;
    float: right;
  }
  .safety-bg {
    background: url('../images/safety-bg.jpg') no-repeat top right;
  }
  .maps-bg {
    background: url('../images/maps-bg.jpg') no-repeat top right;
  }
  .map-symbol {
    position: relative;
    left: 0;
  }
}
