// _variables.scss

// Colors
$white: #fff;
$black: #444;
$grey: #efefef;
$grey-dark: #cccccc;

// Brand Colors
$flyers-black: #1d2128;
$flyers-yellow: #f89a1e;
$flyers-blue: #2c457a;
$flyers-white: #f9f8f7;
$flyers-red: #e51906;
