// UNMANNED FLYERS : _weather.scss

.weather {
  padding-top: 22 / 14 * 1em;
  p {
    padding-top: 5px;
    margin: 0;
    font-weight: 300;
    &:first-of-type {
      float: left;
      font-size: 36px;
      line-height: 1;
      padding-right: 40 / 14 * 1rem;
    }
    &:last-of-type {
      padding-right: 13px;
      float: right;
      text-transform: uppercase;
      line-height: 1.2;
      span {
        display: block;
      }
    }
  }
  img {
    float: left;
  }
}
